/* Nav */

#logo {
    width: 297px;
    height: 58px;
    object-fit: cover;
}

.container {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

nav a,
.box-container a {
    text-decoration: none;
}


.rob-nav.active {
    background-color: rgb(197, 173, 125) !important;
    color: white;
}

.rob-nav {
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    list-style: none;
    color: black;
}

.rob-nav:hover {
    color: rgb(197, 173, 125);
}

.rob-nav.active:hover {
    color: white;
}


/* Footer */

footer {
    background-color: rgb(33, 29, 29);
    color: white;
    font-size: small;
}

footer img {
    height: 100px;
    object-fit: scale-down;
    margin-top: 10px;
}

.footer-item {
    width: 325px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.gmap_canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}